.App {
  font-family: sans-serif;
  text-align: center;
}
button {
  border: none;
  padding: 10px;
  margin-top: 10px;
  cursor: pointer;
  font-size: 16px;
  color: white;
  border-radius: 8px;
}
.decrease {
  background-color: crimson;
}
.increase {
  background-color: royalblue;
}
.reset {
  background-color: gray;
}
